# m h  dom mon dow   command
6 0 * * 1 /home/indexdata/irspy/bin/irspy-update.sh
# a quick update on Wed/Fri
6 0 * * 3,5 env irspy_test=Quick /home/indexdata/irspy/bin/irspy-update.sh
# testing if up
8 0 * * 5 find /home/indexdata/irspy/log -name '*.gz' -size -10k -ls

