# Example crontab file for a weekly update cycle, testing 1/7 of the 
# database every day. See also the script ../bin/irspy-update.sh 
#
# m h  dom mon dow   command
0 1 * * * cd /home/mike/cvs/irspy/bin && YAZ_LOG=irspy ./setrlimit -v -a 500 -- perl -I ../lib irspy.pl -a -n 50 -t Main -m 7,`date '+%w'` localhost:8018/IR-Explain---1
