# $Id: zebra.cfg,v 1.5 2006-08-10 12:01:36 mike Exp $

# Where to look for config files
profilePath: .:/usr/local/share/idzebra-2.0/tab:/usr/share/idzebra-2.0/tab

# Where to look for loadable zebra modules
#modulePath: zebra/lib/

# store records and record keys internally
storeData: 1
storeKeys: 1

# Use the "alvis" filter with config file "filterconf.xml"
recordtype: alvis.filterconf.xml

database: IR-Explain---1
#database: Default

# where to put registers, and other var content, and how large they may be
register: db/register:100G
shadow: db/shadow:100G
lockdir: db/lock
tmpdir: db/tmp
keytmpdir: db/tmp
